body {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("recipe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  background-color: rgb(243, 214, 186);
  padding: 30px;
  border-radius: 7px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 100px 100px;
}
.search-container {
  display: flex;
  justify-content: center;
}
.search-container input {
  font-size: 16px;
  border-radius: 7px;
  border: none;
  padding: 8px 20px;
}
.search-container button {
  font-size: 16px;
  background-color: rgb(228, 136, 24);
  border-radius: 7px;
  border: none;
  color: white;
  padding: 8px 11px;
}
img {
  display: block;
  width: 50%;
  margin: 29px auto 0 auto;
}
.details {
  background-color: rgb(228, 136, 24);
  position: relative;
  margin: 10px 0 0 0;
  text-align: center;
  padding: 15px 0;
  border-radius: 7px;
}
.details h2 {
  font-size: 20px;
  font-weight: 600;
}
.details h4 {
  font-size: 16px;
  font-weight: 500;
}
#show-recipe {
  display: block;
  margin: 30px auto;
  padding: 14px 10px;
  font-size: 16px;
  background-color: rgb(228, 136, 24);
  border-radius: 7px;
  border: none;
  color: white;
}
#recipe {
  position: absolute;
  background-color: rgb(243, 214, 186);
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 7px;
  display: none;
}
#recipe pre {
  font-family: "Poppins", sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 2.5em 1.2em 1.2em 1.2em;
  font-size: 0.92em;
  color: #303040;
}
#back-button {
  font-size: 16px;
  display: block;
  margin: 30px auto;
  padding: 15px 20px;
  background-color: rgb(228, 136, 24);
  border: none;
  border-radius: 7px;
  color: white;
}
ul {
  font-size: 1em;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.8em 1.1em;
  padding: 1.2em 0 0 1.2em;
  color: #303040;
  text-transform: capitalize;
}
h3 {
  text-align: center;
  font-size: 19px;
  margin-top: 20px;
  font-weight: 400;
  color: #a13b08;
}
header {
  display: block;
  text-align: center;
  margin: 30px;
  font-family: "Manrope", sans-serif;
  color: rgb(154, 52, 12);
}
.app-footer {
  text-align: center;
  margin: 100px 0;
  color: rgb(30, 9, 115);
}
.app-footer a {
  color: rgb(154, 52, 12);
}

@media (max-width: 900px) {
  .container {
    margin: 20px 6px;
  }
}
